body {
    background-color: #34C759;    /* Set background color */
    font-family: Georgia, serif;    /* Set font */
    margin: 50px;                  /* Set webpage margins */

    display: flex;                  /* Enable layout capabilities (alignment, spacing, etc.) */
    flex-direction: column;         /* Define axis in which flex items are laid out */

    align-items: center;            /* Centers content horizontally */
    /* justify-content: center;        /* Centers content vertically */
    min-height: 100vh;              /* Ensures the body takes the full height of the viewport */
}

header {
    text-align: center;             /* Centers header text */
}

header .logo {
    max-width: 500px;               /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;            /* Space between logo and title */
}

h1 {
    color: #fff;                  /* Change header color (white) */
}